@font-face { font-family: JetBrains; src: url('./fonts/JetBrainsMono-Regular.ttf'); }
@font-face { font-family: JetBrains; font-weight: bold; src: url('./fonts/JetBrainsMono-Bold.ttf'); }
@font-face { font-family: JetBrains; font-style: italic; src: url('./fonts/JetBrainsMono-Italic.ttf'); }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: JetBrains Mono;
    background-color: black;
}

canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0;
}